* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    background-color: #cce4e5;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Expletus Sans", sans-serif;
    color: #16253a;
}

h1 {
    font-size: 46px;
}

p {
    color: #16253a;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #51bc54;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

button {
    background-color: #44bcdd;
    border: 1px solid #16253a;
    /* border-radius: 25%; */
    margin: 8px;
    font-size: 16px;
    padding: 8px;
}

input {
    background-color: #f7f7f2;
    margin: 5px;
    font-size: 16px;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register,
.login,
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.welcome .logo {
    max-width: 100px;
    max-height: 100px;
}

.header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 15% 40% 25% 10% 10%;
    border-bottom: 1px solid #16253a;
    padding: 5px;
    width: 100%;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.logo {
    max-width: 60px;
    max-height: 60px;
}

#logout {
    height: 20px;
    font-size: 12px;
    padding: 2px;
    justify-self: center;
}

.header .profilePic {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 60px;
    max-height: 60px; */
}

.header .profilePic .profileImage {
    max-width: 60px;
    max-height: 60px;
}

.uploader {
    background-color: rgba(50, 50, 50, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile,
.currentBio {
    width: 70%;
}

.nameAndPic,
.bio,
.currentBio,
.editBioField,
.friendsList,
.otherProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.nameAndPic .profilePic {
    max-width: 350px;
    max-height: 350px;
}

#bioInput {
    height: 200px;
    width: 300px;
    background-color: #f7f7f2;
    font-size: 16px;
}

.friends,
.wannabes,
.chatPage,
.searchPage {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.friendImage {
    width: 150px;
    height: 150px;
    /* margin: 5px; */
}

.friend,
.searchPageResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 280px;
    margin: 10px;
}

.onlineUsers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    height: fit-content;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 5px;
}

.onlineUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
}

.onlineUserPic {
    width: 80px;
    height: 80px;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.chatContainer {
    height: 75vh;
    overflow-y: scroll;
}

.chatMessage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #16253a;
}

.chatMessage * {
    margin: 5px;
}

.datePost {
    font-size: 12px;
}

.chat textarea {
    background-color: #f7f7f2;
    margin: 5px;
    min-height: 60px;
    height: 8vh;
    font-size: 16px;
}

.searchResults {
    position: absolute;
}
